* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(rsz_1wallpaperflarecom_wallpaper_3.jpg);
}

#title {
  margin-top: 30px;
}

#color-palette {
  padding-top: 10px;
  display: flex;
  gap: 15px;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

button {
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(212, 212, 212);
}

.wrapper-options > button , input {
  margin-top: 20px;

  height: 40px;
}

input {
  margin-left: 90px;
  text-align: center;
  border-radius: 10px;
}

#pixel-board {
  padding: 20px;
  display: grid;
  overflow: auto;
  width: 600px;
  height: 600px;
}

.pixel {
  border: 1px solid rgb(0, 0, 0);
}
