* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#color-palette {
  padding-top: 10px;
  display: flex;
  gap: 15px;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

#button-random-color {
  width: 80px;
}

.wrapper-options > button, input {
  margin-top: 20px;
  width: 80px;
  height: 40px;
}

input {
    margin-left: 90px;
    text-align: center;
}

#pixel-board {
  padding: 20px;
  display: grid;
  overflow: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
